@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

"I Changed RsProviders folder to RsProviders_ (as backup) and now everything working"

This solved the problem for me.  (Zoom video would lock in a second or two)
